html,
body {
    margin-left: 15%;
    margin-right: 15%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    box-shadow: 10px 0px 50px rgba(41, 41, 41, 0.5);
}

.navbar {
    background-color: rgb(24, 24, 24);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: block;
    width: 170px;
    height: auto;
}

.navbar-brand {
    margin-left: 10px;
}

.navbartravel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    margin-right: 15px;
}

div:first-of-type>div:nth-of-type(2)>a>img {
    width: 40px;
    height: auto;
}

div:first-of-type>div:nth-of-type(2)>a {
    text-decoration: none;
    color: white;
    font-size: 8px;
    letter-spacing: 0.5px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    text-transform: uppercase;
}

.section1 {
    background-color: rgb(65, 96, 114);
    display: flex;
    flex: 1;
    height: 150px;
    align-items: center;


}

.logosect1 {
    height: 100px;
    width: auto;
    margin-left: 60px;
}

.textsect1,
.textsect3 {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 60px;
    justify-content: center;
    gap: 10px;
}

.h1sect1 {
    font-size: 35px;
    font-weight: lighter;
    margin: 0;
}

.h2sect1 {
    font-weight: lighter;
    margin: 0;
}

.section2,
.section4,
.section7 {
    height: 250px;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
}

.section3,
.section8 {
    height: 130px;
    background-color: rgb(226, 221, 211);
}

.section5 {
    height: 100px;
    background-color: rgb(226, 221, 211);
}

.textsect2,
.textsect4 {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    justify-content: center;
    align-items: center;
   
}

.h2sect2,
.h2sect4 {
    display: block;
    color: white;
    background-color: rgb(65, 96, 114);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-left: -270px;
}

.containP1sect2 {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}

.p1sect2 {
    color: black;
    font-size: 10px;
}

.egg,
.tree {
    height: 50%;
    width: auto;
    margin-top: 110px;
    margin-left: 50px;
}

.section3,
.section7,
.section8 {
    display: flex;
}

.section3travel,
.section8travel {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin-left: 45px;
    margin-right: 45px;
}

section:nth-of-type(3)>div:first-of-type>a>img,
section:nth-of-type(8)>div:first-of-type>a>img {
    width: 50px;
    height: auto;
}

section:nth-of-type(3)>div:first-of-type>a,
section:nth-of-type(8)>div:first-of-type>a {
    text-decoration: none;
    color: black;
    font-size: 8px;
    letter-spacing: 0.5px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
}

.section6 {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: rgb(226, 221, 211);
}

.section5travel,
.section6travel {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin-left: 45px;
    margin-right: 45px;
}

section:nth-of-type(5)>div:first-of-type>a>img,
section:nth-of-type(6)>div:first-of-type>a>img {
    width: 50px;
    height: auto;
}

section:nth-of-type(5)>div:first-of-type>a {
    text-decoration: none;
    color: black;
    font-size: 8px;
    letter-spacing: 0.5px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    margin-top: 30px;
}

section:nth-of-type(6)>div:first-of-type>a {
    text-decoration: none;
    color: black;
    font-size: 8px;
    letter-spacing: 0.5px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    margin-bottom: 25px;
}

.footer {
    height: 130px;
    background-color: rgb(24, 24, 24);
    z-index: 2;
}

footer>div>div>h2 {
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.footerlogo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.columnfooter1,
.columnfooter2,
.columnfooter3 {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 8px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.footerlogo1,
.footerlogo2,
.footerlogo3 {
    align-items: center;
}

.footerlogo1>a>img,
.footerlogo2>a>img,
.footerlogo3>a>img {
    width: 30px;
    height: auto;
    padding: 5px;
}

.cgv {
    color: white;
    display: flex;
    justify-content: end;
    font-size: 8px;
    z-index: 1;
    margin-right: 5px;
}